<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.0.0" targetFramework="net462" />
  <package id="BoDi" version="1.4.1" targetFramework="net462" />
  <package id="Cucumber.Messages" version="6.0.2" targetFramework="net462" />
  <package id="Gherkin" version="6.0.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.13.0" targetFramework="net462" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net462" />
  <package id="Microsoft.AnalysisServices.AdomdClient.retail.amd64" version="19.10.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="NLog" version="4.7.5" targetFramework="net462" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net462" />
  <package id="NUnit" version="3.12.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.11.1" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net462" />
  <package id="Ocaramba" version="3.2.10" targetFramework="net462" />
  <package id="OcarambaLite" version="3.2.10" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="85.0.4183.8700" targetFramework="net462" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net462" />
  <package id="Shouldly" version="3.0.2" targetFramework="net462" />
  <package id="SpecFlow" version="3.4.8" targetFramework="net462" />
  <package id="SpecFlow.Autofac" version="3.4.8" targetFramework="net462" />
  <package id="SpecFlow.NUnit" version="3.4.8" targetFramework="net462" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.4.8" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net462" />
</packages>