<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net462" />
  <package id="Microsoft.AnalysisServices.AdomdClient.retail.amd64" version="19.10.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="NLog" version="4.7.5" targetFramework="net462" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net462" />
  <package id="NUnit" version="3.12.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.11.1" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net462" />
  <package id="Ocaramba" version="3.2.10" targetFramework="net462" />
  <package id="OcarambaLite" version="3.2.10" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="85.0.4183.8700" targetFramework="net462" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.26.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net462" />
  <package id="Should-DotNetStandard" version="1.0.0" targetFramework="net462" />
  <package id="SpecFlow" version="2.4.1" targetFramework="net462" />
  <package id="SpecFlow.Autofac" version="1.1.0" targetFramework="net462" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>